<main class="main">
  <div class="container">
    <h1>{{ title }}</h1>
    <div>
      <label for="amount">Amount:</label>
      <input
        type="number"
        [(ngModel)]="amount"
        (input)="convert()"
        id="amount"
      />
    </div>
    <div>
      <label for="from">From:</label>
      <select [(ngModel)]="fromCurrency" (change)="convert()" id="from">
        <option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </option>
      </select>
    </div>
    <div>
      <label for="to">To:</label>
      <select [(ngModel)]="toCurrency" (change)="convert()" id="to">
        <option *ngFor="let currency of currencies" [value]="currency">
          {{ currency }}
        </option>
      </select>
    </div>
    <div>
      <p>
        {{ amount }} {{ fromCurrency }} =
        {{ convertedAmount | number : "1.2-2" }} {{ toCurrency }}
      </p>
    </div>
  </div>
</main>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- <router-outlet /> -->
